body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}
body .home {
  display: grid;
}
body .home .icon {
  margin-right: 5px;
}
body .home .fa-angle-right {
  margin-left: 10px;
}
body .home .header {
  display: flex;
  align-items: center;
  color: white;
  background-color: #e30613;
  padding-inline: 15px;
  height: 80px;
}
body .home .header .best-logo {
  flex: 2;
}
body .home .header .search {
  display: flex;
  flex: 3;
  height: 40px;
}
body .home .header .search .searchbar {
  flex: 1;
  padding: 8px;
  border: none;
}
body .home .header .search .search-icon {
  width: 45px;
  background-color: #ffc423;
  text-align: center;
  margin: auto;
  height: 40px;
}
body .home .header .search .search-icon i {
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 25%;
}
body .home .header .right-header {
  flex: 2;
  display: flex;
  justify-content: space-around;
}
body .home .header .small-txt {
  font-size: 10px;
}
body .home .sub-header {
  display: flex;
  font-size: 14px;
  height: 40px;
  align-items: center;
  text-align: center;
}
body .home .sub-header a {
  text-decoration: none;
  color: #000000;
}
body .home .sub-header .all-cat {
  flex: 1;
  text-align: center;
  margin-left: 15px;
  background-color: #ffc423;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .home .sub-header .menubar {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  flex: 8;
  padding-inline: 0;
}
body .home .sub-header .my-cart {
  display: flex;
  flex-direction: column;
  height: 52px;
  width: 111px;
  margin-inline: 2rem;
  background-color: #ffc423;
  justify-content: center;
  align-items: center;
}
body .home .sub-header .my-cart .cart-items {
  font-size: 10px;
}
body .home .navigation {
  color: #757575;
  padding-left: 15px;
  font-size: 12px;
  text-align: center;
  align-items: center;
  display: flex;
  height: 40px;
  background-color: #e8e8e8;
  gap: 10px;
}
body .home .navigation a {
  text-decoration: none;
  color: #757575;
}
body .home .navigation .gas-cooker {
  color: #000000;
}
body .home .slider {
  height: 350px;
  display: flex;
}
body .home .slider .img {
  background: url("./images/electronics.JPG") no-repeat;
  height: 100%;
  flex: 1.5;
}
body .home .slider .sale-info {
  display: flex;
  flex: 1;
  flex-direction: column;
}
body .home .slider .sale-info .electronics-txt {
  border: 1px solid #000000;
  transform: skew(-30deg); /* SKEW */
  height: 40px;
  width: 270px;
}
body .home .slider .sale-info .electronics-txt span {
  display: block; /* block or inline-block is needed */
  text-decoration: none;
  padding: 5px 20px;
  font: 30px/1 sans-serif;
  transform: skew(20deg); /* UNSKEW */
  color: inherit;
}
body .home .slider .sale-info .sale-txt {
  transform: skew(30deg); /* SKEW */
  height: 40px;
  width: 134px;
  background-color: #e30613;
  color: white;
  text-align: center;
}
body .home .slider .sale-info .sale-txt span {
  display: block; /* block or inline-block is needed */
  text-decoration: none;
  padding: 5px 20px;
  font: 35px/1 sans-serif;
  transform: skew(-35deg); /* UNSKEW */
  color: inherit;
}
body .home .slider .sale-info .long-txt {
  margin-top: 32px;
  font-size: 35px;
}
body .home .slider .sale-info .shop-now-btn {
  background-color: #000000;
  color: white;
  width: 160px;
  height: 50px;
  margin-top: 25px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
}
body .home .buttons-list {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
body .home .buttons-list .left-nav,
body .home .buttons-list .right-nav {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}
body .home .buttons-list button {
  flex: 1;
  height: 80px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
}
body .home .buttons-list .panasonic {
  background-color: #000000;
  color: white;
}
body .home .buttons-list .midea {
  background-color: #009ada;
  color: white;
}
body .home .buttons-list .vestel {
  background-color: #e2212a;
  color: white;
}
body .home .buttons-list .sharp {
  background-color: #fb002e;
  color: white;
}

/*# sourceMappingURL=homePage.css.map */
